#Banner .banner-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

* {
  box-sizing: border-box; }

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif; }

#Banner {
  background-color: cornflowerblue;
  width: 100%;
  padding: 25px; }

#Banner-Title {
  flex: 2 0 auto;
  color: whitesmoke; }
  #Banner-Title h1 {
    font-size: 6em;
    margin-bottom: 15px; }
    @media screen and (max-width: 1035px) {
      #Banner-Title h1 {
        font-size: 5em; } }
  #Banner-Title h2 {
    font-size: 2em; }
  @media screen and (max-width: 1550px) {
    #Banner-Title {
      text-align: center; } }

#Banner-Img {
  flex: 1 0 auto;
  text-align: center; }
  #Banner-Img img {
    width: 400px;
    border-radius: 50%; }

#Navigation nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 100%;
  margin-top: 25px; }
  @media screen and (max-width: 960px) {
    #Navigation nav {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      width: 20%;
      height: 100%;
      position: fixed;
      top: 0;
      background-color: whitesmoke;
      margin-top: 0; } }
  #Navigation nav a, #Navigation nav a:active, #Navigation nav a:visited {
    width: 10%;
    text-align: center;
    color: #ca58ff;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    transition: color 300ms;
    padding-right: 10px;
    padding-left: 10px; }
    @media screen and (max-width: 960px) {
      #Navigation nav a, #Navigation nav a:active, #Navigation nav a:visited {
        width: 100%;
        height: 40px;
        text-align: left;
        font-size: 16pt;
        padding: 10px;
        padding-top: 7px; } }
  #Navigation nav a:hover {
    cursor: pointer;
    color: cornflowerblue; }
    @media screen and (max-width: 960px) {
      #Navigation nav a:hover {
        color: whitesmoke;
        background-color: cornflowerblue; } }

main {
  padding: 25px; }

footer {
  padding: 15px;
  text-align: center;
  font-weight: 600;
  background-color: aliceblue; }

article {
  line-height: 25px; }

#overlay {
  display: none; }
  @media screen and (max-width: 960px) {
    #overlay {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6); } }

.paragraph-pic {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-columns: 100%;
  grid-template-rows: 100%, 100%, 100%; }
  .paragraph-pic figure {
    text-align: center; }
    .paragraph-pic figure img {
      width: 30%; }
  @media screen and (min-width: 960px) {
    .paragraph-pic {
      grid-column-gap: 20px;
      grid-row-gap: 25px;
      grid-template-columns: 70% 50%;
      grid-template-rows: 60% 30%; }
      .paragraph-pic figure {
        text-align: left; }
        .paragraph-pic figure img {
          width: 50%; }
      .paragraph-pic .mobile {
        display: none; } }

.centeredGraphic {
  text-align: center; }

/*# sourceMappingURL=home.css.map */
