%flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: $font-stack;
}
#Banner {
    background-color: $banner-color;
    width: 100%;
    padding: $base-padding;
}
#Banner .banner-flex {
    @extend %flexbox;
}
#Banner-Title {
    flex: 2 0 auto;
    color: whitesmoke;
    h1 {
        font-size: 6em;
        margin-bottom: 15px;
        @media (max-width: 1035px){
            font-size: 5em;
        }
        @media (max-width: 870px){
            font-size: 4em;
        }
        @media (max-width: 700px){
            font-size: 3em;
        }
        @media (max-width: 528px){
            font-size: 2em;
        }
    }
    h2 {
        font-size: 2em;
        @media (max-width: 700px){
            font-size: 1.5em;
        }
        @media (max-width: 528px){
            font-size: 1em;
        }
    }
    @media (max-width: 1550px){
        text-align: center;
    }
}
#Banner-Img {
    flex: 1 0 auto;
    text-align: center;
    img {
        width: 250px;
        border-radius: 50%;
        @media (min-width: 529px){
            width: 400px;
        }
    }
}

#Navigation {
    
    nav {
        display: flex;
        flex-flow: row wrap;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        margin-top: $base-padding;
        @media (max-width: $mobile-break + 1) {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            width: 179.51px;
            height: 100%;
            position: fixed;
            top: 0;
            left: -200px;
            background-color: $mobile-nav-background;
            margin-top: 0;
            transition: transform 500ms;
        }
        //@media screen and (min-width: $mobile-break + 1px) {
          //  transform: none !important;
        //}
        a, a:active, a:visited {
            width: 10%;
            text-align: center;
            color: $navlinks-color;
            text-decoration: none;
            font-size: 14pt;
            font-weight: bold;
            @media (max-width: $mobile-break) {
                width: 100%;
                height: 40px;
                text-align: left;
                font-size: 16pt;
                padding: 10px;
                padding-top: 7px;
            }
            @media (min-width: $mobile-break){
                transition: color 300ms;
                transform: none !important;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        a:hover {
            cursor: pointer;
            color: $banner-color;
            @media (max-width: $mobile-break) {
                color: whitesmoke;
                background-color: $banner-color;
            }    
        } 
    }
}
main {
    padding: $base-padding;
}
footer {
    padding: 15px;
    text-align: center;
    font-weight: 600;
    background-color: aliceblue;
}
article {
    line-height: 25px;
}

.mobile{
    display: none;
}

@media (max-width: $mobile-break){
    .mobile{
        display: block;
    }
    .hamburger-wrapper{
        background: blue;
        height: $hamburger-height;
    }
    .hamburger{ 
        width: 60px;
        height: $hamburger-height;
        background-color: $navlinks-color;
        line-height: 10px;
        padding: 5px;
        padding-top: 7px;
        margin-bottom: 15px;
        transition: background-color 300ms;
        div {
            border-radius: 25px;
            width: 50px;
            height: 6.5px;
            margin-bottom: 7px;
            background-color: white;
        }
    }
    .hamburger:hover{
        cursor: pointer;
        background-color: $banner-color;
    }
    #Overlay {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    #Top-bar{
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: $navlinks-color;
        transition: transform 300ms;
    }
}