$banner-color: cornflowerblue;
$font-stack: Arial, Helvetica, sans-serif;
$base-padding: 25px;
$navlinks-color: rgb(36, 39, 230);
$mobile-break: 960px;
$mobile-nav-background: rgb(245, 245, 245);
$hamburger-height: 50px;