@import 'variables';
@import 'base';

.paragraph-pic{
    display: grid;
    grid-column-gap: 20px;
        grid-row-gap: 0px;
        grid-template-columns: 100%;
    figure{
        text-align: center;
        img {
            width: 30%;
        }
    }
    
    @media (min-width: 960px) {
        grid-column-gap: 20px;
        grid-row-gap: 25px;
        grid-template-columns: 70% 50%;
        grid-template-rows: 60% 30%;
        figure{
            text-align: left;
            img {
                width: 50%;
            }
        }
        .mobile{
            display: none;
        }
    }
}
.centeredGraphic{
    text-align: center;
}